:root {
    --heading-font: 'Playfair Display', serif;
    --default-font:'Poppins', sans-serif;
    --branding-color: #FBEBEA;
    --secondary-color: #2E3C7F;
}

body {
    font-family: var(--default-font);
    margin: 0;
}

.content-wrapper{
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: bold;
}



p {
    font-size: 16px;
    line-height: 30px;
}

img{
    width: 550px;
}

footer {
    background-color: var(--branding-color);
    background-size: 100%;;
    padding: 15px 0;
    margin: 0 -400px;
}



.footer-text {
   font-size:16px; 
  
}

.footer-text a{
    font-size:16px; 
   text-decoration: none;
   color: var(--secondary-color);
}

footer .email-link{
    text-decoration: none;
    color: black;
    font-size: 24px;
}

footer .email-link:hover{
    color:var(--secondary-color); 
    text-decoration: underline;
}

footer .social-links a {
 margin: 0 20px;
 color: var(--branding-color);
 background-color: var(--secondary-color);
 padding: 10px 14px;
 font-size: 18px;
 border-radius: 50%;
 transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    color: var(--secondary-color);
    background-color: var(--branding-color);
}



.hero {
    background-color: var(--branding-color);
    text-align: center;
    padding: 160px 20px;
}

.hero h1 {
    font-size: 80px;
}

.hero h2 { 
    font-family: var(--default-font);
    font-weight: normal;
    font-size: 26px;
    line-height: 2;
}

.hero p {
    font-family: var(--default-font);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}



.hero .arrow-down {
    font-size: 35px;
    color: var(--secondary-color);
}

.hero-content h2 {
    font-size: 45px;
}


.project-description {
    padding: 100px 20px;
}

.content-container{
    padding: 160px 20px;
}

.content-container h1 { 
    font-size: 56px;
    line-height: 1;
}

.content-container p {
    font-size: 18px;
}

.container .btn-branding {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 

}

.container .btn-branding-outline {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 
}

.content-section h3{
text-align: center;
margin-bottom: 15px;
}

.navbar {
    background: var(--branding-color)!important;
}

.nav-link {
    color: var(--secondary-color)!important;
}

.dictionary-img {
    margin: 45px 0;
}

.project-buttons-dictionary{
    position: relative;
    top: 45px;
}

.logo {
  max-width: 50px;  
}

.contact-title {
    padding-top: 80px;
    padding-left: 70px;
    font-size: 50px;
}
.contact-link {
font-weight: 300;
text-decoration: none;
color: black;
opacity: 50%;
}

@media(max-width:960px) {
    
    .hero h1 {
        font-size: 60px;
        line-height: 1.5;
    }

    .project-description{
        padding: 0; 
        text-align: center;
    }

    .content-container {
        text-align: center;
        padding: 40px;
    }

}
