:root {
    --heading-font: 'Playfair Display', serif;
    --default-font:'Poppins', sans-serif;
    --branding-color: #FBEBEA;
    --secondary-color: #2E3C7F;
}

body {
    font-family: var(--default-font);
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 30px;
}

footer {
    background-color: var(--branding-color);
    width: auto;
    padding: 15px 0;
}

.footer-text {
   font-size:16px; 
}

.footer-text a{
   color: var(--secondary-color);
   font-size:16px; 
   text-decoration: none;
   
}

footer .email-link{
    color: black;
    font-size: 24px;
    text-decoration: none;
}

footer .email-link:hover{
    color:var(--secondary-color); 
    text-decoration: underline;
}

footer .social-links a {
 background-color: var(--secondary-color);
 color: var(--branding-color);
 border-radius: 50%;
 font-size: 18px;
 margin: 0 20px;
 padding: 10px 14px;
 transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
    background-color: var(--branding-color);
    color: var(--secondary-color); 
}

.hero {
    background-color: var(--branding-color);
    padding: 160px 20px;
    text-align: center;  
}

.hero h1 {
    font-size: 80px;
}
.hero .line-1{
    font-size: 60px;
    border-right: solid 3px #2E3C7F;
    margin: 0 auto;
    overflow: hidden; 
    text-align: center;
    white-space: nowrap;
    }


.hero .anim-typewriter{
    display: flex;
    align-items: center;
    animation: typewriter 4s steps(20) 1s 1 normal both,
               blinkTextCursor 600ms steps(20) infinite;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 480px;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #2E3C7F;}
    to{border-right-color: transparent;}
  }

.hero h2 { 
    font-family: var(--default-font);
    font-weight: normal;
    font-size: 26px;
    line-height: 2;
}

.hero p {
    color: var(--secondary-color);
    font-family: var(--default-font);
    font-size: 36px;
    font-weight: bold;
    margin: 0;    
}

.hero .arrow-down {
    color: var(--secondary-color);
    font-size: 35px;  
}

.hero-content h2 {
    font-size: 45px;
}

.content-container{
    padding: 120px 20px;
}

.content-container h1 { 
    font-size: 56px;
    line-height: 1;
}

.content-container p {
    font-size: 18px;
}

.hero .btn-branding {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 
}



.container .btn-branding {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 

}

.container .btn-branding-outline {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 
}


.btn-branding-outline:hover {
    color: var(--secondary-color)!important;
}
.btn-branding:hover {
    color: white!important;
}

.content-section h3{
text-align: center;
margin-bottom: 15px;
}

.navbar {
    background: var(--branding-color)!important;
}

.nav-link {
    color: var(--secondary-color)!important;
}

.navbar-brand {
    color: var(--secondary-color)!important;
}

.dictionary-img {
    margin: 45px 0;
}

.img-project {
    width: 550px;
}

.project-buttons-dictionary{
    position: relative;
    top: 45px;
}

.logo {
  max-width: 50px;  
}

.contact-title {
    padding-top: 80px;
    padding-left: 70px;
}

.contact-title .line-2{
    font-size: 50px;
    text-align: center;
    border-right: solid 3px #2E3C7F;
    white-space: nowrap;
    overflow: hidden; 
    margin: 0 auto;
    }


.contact-title .typing{
    display: flex;
    align-items: center;
    animation: typing 4s steps(20) 1s 1 normal both,
               blinkTextCursor 600ms steps(20) infinite;
  }
 @keyframes typing {
    from{width: 0;}
    to{width: 400px;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: #2E3C7F;}
    to{border-right-color: transparent;}
  }

.contact-link {
font-weight: 300;
text-decoration: none;
color: black;
opacity: 50%;
}

@media(max-width:960px) {

    
   .project-description{
        padding: 0; 
        text-align: center;
    }

    .content-container {
        text-align: center;
        padding-top: 100px;
    }

    .content-container h1 {
        font-size: 50px;
    }

    .project-buttons-dictionary{
        position: relative;
        top: 0;
    }

    .logo-name {
    visibility: hidden;
}


    .hero .line-1{
        font-size: 43px;
        }

    .hero .anim-typewriter {
        display: flex;
        align-items: center;
        animation: typewriter 4s steps(20) 1s 1 normal both,
                   blinkTextCursor 600ms steps(20) infinite;
    }

    @keyframes typewriter{
        from{width: 0;}
        to{width: 100%;}
      }


    .contact-title .line-2{
        font-size: 30px;
        text-align: center;
        border-right: solid 3px #2E3C7F;
        white-space: nowrap;
        overflow: hidden; 
        margin: 0 auto;
        margin-bottom: 30px;
        }

        .contact-title .typing{
            display: flex;
            align-items: center;
            animation: typing 4s steps(20) 1s 1 normal both,
                       blinkTextCursor 600ms steps(20) infinite;
          }
         @keyframes typing {
            from{width: 0;}
            to{width: 250px;}
          }
    .contact-title{
        padding-top: 10px;;
    }
    }
     

  
