:root {
    --heading-font: 'Playfair Display', serif;
    --default-font:'Poppins', sans-serif;
    --branding-color: #FBEBEA;
    --secondary-color: #2E3C7F;
}

body {
    font-family: var(--default-font);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: bold;
}

p {
    font-size: 16px;
    line-height: 30px;
}

img{
    width: 550px;
}

.hero {
    background-color: var(--branding-color);
    text-align: center;
    padding: 160px 20px;
}

.hero h1 {
    font-size: 80px;
}

.hero h2 { 
    font-family: var(--default-font);
    font-weight: normal;
    font-size: 26px;
    line-height: 2;
}

.hero p {
    font-family: var(--default-font);
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: var(--secondary-color);
}

.hero .btn-branding {
    background-color: var(--secondary-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 

}

.hero .arrow-down {
    font-size: 35px;
    color: var(--secondary-color);
}

.hero-content h2 {
    font-size: 45px;
}

.hero-content .btn-branding-outline {
    background-color: var(--branding-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px; 
}

.project-description {
    padding: 100px 20px;
}

.navbar {
    background: var(--branding-color)!important;
}

.nav-link {
    color: var(--secondary-color)!important;
}

@media(max-width:960px) {
    
    .hero h1 {
        font-size: 60px;
        line-height: 1.5;
    }

    .project-description{
        padding: 0; 
        text-align: center;
    }

}
